/*
    Custom CSS for the audio visualizer canvas.

    Much help from https://stackoverflow.com/a/7782251
*/
#audio-visualizer {
    display: flex;
    width: 80%;
    height: 320px;
    max-width: 720px;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    border-radius: 15px;
}
